In [4]:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)
number_list.append(6)
number_list

[1, 2, 3, 4, 5, 6]

In [6]:
number_list1 = [vaule for vaule in range(1,7)]
number_list1

[1, 2, 3, 4, 5, 6]

In [8]:
number_list2 = [num for num in range(1,7)]
number_list2

[1, 2, 3, 4, 5, 6]

In [13]:
number_list1 = [vaule*5 for vaule in range(1,10)]
number_list1

[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [18]:
number_list1 = [vaule for vaule in range(1,50) if vaule % 2 == 1]
number_list1

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [19]:
import random
students = []

for _ in range(50):
    score = []
    for _ in range(5):
        score.append(random.randint(1,100))
    students.append(score)
        
for index,student in enumerate(students):
    print(f"第{index+1}個學生為{student}")

第1個學生為[45, 42, 29, 3, 100]
第2個學生為[51, 22, 87, 72, 4]
第3個學生為[20, 56, 31, 45, 69]
第4個學生為[34, 94, 72, 47, 71]
第5個學生為[73, 79, 49, 36, 17]
第6個學生為[69, 67, 80, 10, 31]
第7個學生為[46, 96, 19, 23, 53]
第8個學生為[63, 99, 63, 16, 41]
第9個學生為[19, 82, 84, 40, 18]
第10個學生為[43, 18, 39, 25, 77]
第11個學生為[37, 13, 77, 30, 10]
第12個學生為[85, 7, 66, 98, 25]
第13個學生為[10, 74, 64, 29, 34]
第14個學生為[99, 1, 67, 44, 64]
第15個學生為[4, 24, 65, 38, 63]
第16個學生為[14, 93, 94, 13, 65]
第17個學生為[52, 48, 61, 58, 74]
第18個學生為[1, 92, 84, 99, 15]
第19個學生為[37, 21, 50, 5, 7]
第20個學生為[55, 38, 94, 49, 30]
第21個學生為[76, 42, 75, 70, 91]
第22個學生為[15, 42, 76, 10, 3]
第23個學生為[93, 90, 50, 51, 35]
第24個學生為[13, 86, 16, 91, 35]
第25個學生為[33, 23, 79, 98, 76]
第26個學生為[28, 21, 41, 97, 76]
第27個學生為[75, 82, 29, 12, 6]
第28個學生為[100, 82, 17, 85, 38]
第29個學生為[88, 1, 63, 24, 89]
第30個學生為[88, 97, 65, 97, 79]
第31個學生為[51, 11, 41, 4, 41]
第32個學生為[68, 87, 91, 5, 44]
第33個學生為[34, 51, 93, 46, 55]
第34個學生為[85, 2, 82, 77, 36]
第35個學生為[16, 43, 80, 77, 48]
第36個學生為[27, 9, 49, 52, 90]
第37個學生為[62, 1, 94, 48, 7]
第38個學生為[67, 45, 1, 50, 77]
第39個學生為[85, 95, 41, 5, 73]
第40個學生為[49, 35, 32, 11, 92]
第41個學生為[12, 4, 79, 57, 66]
第42個學生為[53, 99, 94, 25, 55]
第43個學生為[6, 33, 28, 55, 13]
第44個學生為[28, 91, 51, 8, 14]
第45個學生為[55, 59, 99, 45, 23]
第46個學生為[15, 31, 73, 8, 31]
第47個學生為[14, 14, 93, 100, 94]
第48個學生為[16, 55, 57, 61, 26]
第49個學生為[12, 97, 46, 2, 14]
第50個學生為[43, 38, 98, 17, 90]

In [22]:
import random

students = [[random.randint(50,100) for _ in range(5)] for _ in range(50)]
        
for index,student in enumerate(students):
    print(f"第{index+1}個學生為{student}")

第1個學生為[84, 92, 78, 82, 96]
第2個學生為[76, 56, 52, 53, 98]
第3個學生為[80, 62, 82, 83, 65]
第4個學生為[83, 80, 83, 82, 83]
第5個學生為[92, 83, 85, 66, 65]
第6個學生為[96, 57, 93, 89, 69]
第7個學生為[85, 55, 93, 67, 61]
第8個學生為[81, 96, 98, 55, 64]
第9個學生為[97, 75, 50, 65, 89]
第10個學生為[86, 93, 77, 50, 68]
第11個學生為[63, 63, 96, 94, 69]
第12個學生為[88, 72, 91, 77, 64]
第13個學生為[75, 75, 90, 88, 65]
第14個學生為[98, 87, 55, 69, 69]
第15個學生為[53, 74, 72, 54, 92]
第16個學生為[85, 61, 76, 68, 60]
第17個學生為[56, 60, 50, 72, 72]
第18個學生為[55, 95, 98, 52, 90]
第19個學生為[67, 68, 57, 50, 86]
第20個學生為[51, 98, 81, 98, 61]
第21個學生為[83, 72, 70, 96, 91]
第22個學生為[69, 74, 90, 56, 67]
第23個學生為[68, 92, 69, 81, 61]
第24個學生為[56, 64, 78, 51, 73]
第25個學生為[76, 95, 72, 73, 74]
第26個學生為[92, 75, 61, 90, 58]
第27個學生為[96, 52, 96, 98, 50]
第28個學生為[75, 85, 92, 81, 57]
第29個學生為[53, 80, 84, 56, 63]
第30個學生為[96, 87, 86, 62, 100]
第31個學生為[87, 54, 58, 63, 74]
第32個學生為[98, 72, 63, 75, 85]
第33個學生為[68, 60, 85, 67, 93]
第34個學生為[92, 59, 97, 55, 53]
第35個學生為[100, 89, 56, 96, 93]
第36個學生為[51, 81, 96, 85, 67]
第37個學生為[51, 58, 89, 94, 74]
第38個學生為[69, 52, 87, 82, 54]
第39個學生為[75, 53, 51, 77, 70]
第40個學生為[50, 57, 52, 73, 59]
第41個學生為[90, 81, 81, 74, 81]
第42個學生為[87, 56, 50, 84, 79]
第43個學生為[54, 74, 55, 59, 68]
第44個學生為[65, 81, 86, 91, 97]
第45個學生為[54, 89, 59, 100, 85]
第46個學生為[55, 82, 77, 87, 78]
第47個學生為[69, 70, 73, 64, 73]
第48個學生為[63, 76, 83, 51, 52]
第49個學生為[73, 60, 69, 63, 84]
第50個學生為[87, 56, 83, 51, 71]

In [27]:
word = "letters"
letter_counts = {letter:word.count(letter) for letter in word}
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [29]:
__name__

'__main__'

In [31]:
word

'letters'

In [33]:
a = 10 
def test():
    a = 20
    print(a)
test()
print(a)

20
10